<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>OrderedDictionary.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>7230FC0C1E252A0A00C32FEF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7230FC251E252A0A00C32FEF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7230FC301E252A0A00C32FEF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
